*{
    margin: 0;
    padding: 0;
}
ul{
    display: flex;
    background-color: gray;
    height: 45px;
    margin-bottom: 4%;
}
ul li{
    padding: 10px;
    list-style: none;
    text-decoration: none;
    color: black;
    font-size: larger;
    font-weight: 400;
}

li:hover{
    cursor:pointer;
    color: green;
}
a:link{
    text-decoration: none;
}
.red{
    background-color: rgb(29, 224, 224);
    border: 5px solid rgb(93, 72, 72);
    border-radius: 10%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}